name: Build

on:
  push:
    branches:
      - 'main'
      - 'master'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: 16
    - name: Install and build npm
      run: |
        npm install
        npm run build
      working-directory: ./ui
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0'
        include-prerelease: true
    - name: Build
      run: dotnet build ./api
    - name: Test
      run: dotnet test ./api/MyApp.Tests
