name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install and build npm
      run: |
        npm install
        npm run build
      working-directory: ./ui
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0'
    - name: Build
      run: dotnet build ./api
    - name: Test
      run: dotnet test ./api/MyApp.Tests
